@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primary-color: #f4f6f7;
  --secondary-color: #f5f5f5;
  --text-color: #333333;
  --button-hover-color: darken(var(--primary-color), 10%);
  --border-color: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(annie-spratt-qyAka7W5uMY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(51, 51, 51, 0.3960784314);
}

.questions {
  padding: 20px;
  margin-bottom: 20px;
}
.questions h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 70%;
  margin: auto;
}

.question-container {
  display: none;
  border: 1px solid var(--primary-color);
  padding: 20px;
  margin: 10px 0;
}
.question-container h3 {
  color: var(--primary-color);
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 10px;
}
.question-container label {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
}
.question-container input[type=radio],
.question-container input[type=checkbox] {
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
}

#submitAnswersBtn {
  padding: 10px 20px;
  background-color: rgba(128, 128, 128, 0.289);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s;
  border: 1px solid var(--border-color);
  width: 80%;
  margin: auto;
}
#submitAnswersBtn:hover {
  background-color: rgba(255, 0, 0, 0.17);
}

#nextQuestionBtn {
  padding: 10px 20px;
  background-color: rgba(78, 254, 125, 0.289);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s;
  border: 1px solid var(--border-color);
}
#nextQuestionBtn:hover {
  background-color: var(--button-hover-color);
}

.score-container {
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  margin-top: 20px;
}

.change-mode-container {
  position: fixed;
  top: 20px;
  right: 10px;
}
.change-mode-container img {
  width: 20px;
  height: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

@keyframes flyAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 0;
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
    opacity: 0;
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}
.airplane {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 50px; /* Adjust the size of the airplane */
  height: 50px;
  opacity: 0;
  animation: flyAnimation 10s infinite;
}/*# sourceMappingURL=style.css.map */