@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #f4f6f7;
    --secondary-color: #f5f5f5;
    --text-color: #333333;
    
    --border-color: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(annie-spratt-qyAka7W5uMY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 0.3s, color 0.3s;
    overflow: hidden;
}

    
    


body.dark-mode {
   
    color: rgb(255, 255, 255);
    background-image: url(rob-hayman-OxPtEsYUNAc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   

    .container{
        background-color: #313131b6;

        .questions{
            h3, h1{
                color: rgb(255, 255, 255);
        }
       
    }

    #submitAnswersBtn, #nextQuestionBtn{
        color: rgb(255, 255, 255);
    }
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);

    background-color: #ffffffb6;
    
}

.questions {
   
    padding: 20px;
    margin-bottom: 20px;

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: rgb(56, 55, 55);
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 70%;
    margin: auto;
}

.question-container {
    display: none;
    border: 1px solid var(--primary-color);
    padding: 20px;
    margin: 10px 0;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    

    h3 {
        color: rgb(56, 55, 55);
        font-weight: 200;
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    label {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 10px; 
        
        
    }
    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 10px;
        
        padding: 5px;
        border-radius: 3px;
    }


    
    }



#submitAnswersBtn {
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.17);
    color: rgb(56, 55, 55);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s;
    border: 1px solid var(--border-color);
    width: 70%;
    margin: auto;

    &:hover {
        background-color: rgba(255, 0, 0, 0.388);
    }


    
}

#nextQuestionBtn{
    padding: 10px 20px;
    background-color:rgba(78, 254, 125, 0.289);
    color: rgb(56, 55, 55);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s;
    border: 1px solid var(--border-color);
    width: 70%;
    margin: auto;

    &:hover {
        background-color: rgba(78, 254, 125, 0.751);
    }


    }

.score-container {
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    color: rgb(56, 55, 55);
    padding: 10px;
    margin-top: 20px;
}

.change-mode-container {
    position: fixed;
    top: 20px;
    right: 10px;

    img {
        width: 20px;
        height: 20px;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
        
    }
}


.result-table{
    font-size: 0.4rem;
    color: rgb(56, 55, 55);
}



.car {
    position: fixed;
    top: 20%;
    left: -50px; 
    width: 100px; 
    height: 50px;
    
    transition: left 5s ease-in-out; /* Transition property for smooth movement */
}

body.dark-mode .car {
    background-color: #2c3e50; /* Adjust the car color in dark mode */
}

@keyframes carMove {
    0% {
        left: -50px;
    }
    100% {
        left: calc(100% - 50px); /* Move the car to the left edge of the viewport */
    }
}

body .car.animation {
    animation: carMove 10s infinite; 
}